.homeLayout{
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.Menu{
    width: 100%;
    background-color: #F2E9D0;
    min-height: 100vh;
}

.Machine{
    width: 100%;
    background-color: #FFFFFF;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.Machine .Upper{
    width: 100%;
    height: 100%;
    background-color: #F1F1F1;
    border-left: 1rem solid #A9A4A4;
}

.Machine .Lower{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    background-color: #D9D9D9;
    border-left: 1rem solid #757373;
    margin: 0;
}

.Lower .Screen{
    width: 95%;
    height: 95%;
    background-color: #000000;
    border-top: 0.5rem solid #A7A6A6;
    border-left: 0.5rem solid #A7A6A6;
    border-top-left-radius: 4rem;
}

