.homeLayout{
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.Menu{
    width: 100%;
    background-color: #F2E9D0;
    min-height: 100vh;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Menu .title{
    font-family: var(--font-anonymous-pro), monospace;
    font-weight: bold;
    font-size: 5rem;
}

.Menu .subTitle{
    font-family: var(--font-anonymous-pro), monospace;
    font-weight: normal;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.Menu .Category{
    display: flex;
    flex-direction: column;
    font-family: var(--font-ibm-plex-mono), monospace;
}

.Category h1{
    font-weight: bold;
    font-size: xx-large;
    text-decoration: underline;
    width: fit-content;
    padding-inline: 1rem;
}

.Category button:hover::before{
    content:">";
}

.Category button.selected::after{
    content:"";
    display: inline-block;
    height: 25px;
    width: 25px;
    background-color:black;
    margin-left: 0.5rem;
    border-radius: 50%;
    vertical-align: -6px;
    animation: blink 2s infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    49% { opacity: 1; }
    50% { opacity: 0; }
    99% { opacity: 0; }
    100% { opacity: 1; }
}

.Category button{
    margin-left: 5rem;
    font-size: x-large;
    text-decoration: underline;
    width: fit-content;
}

.Category h1.selected{
    
    color: white;
    background-color: #000000;
}

.Machine{
    width: 100%;
    background-color: #FFFFFF;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.Machine .Upper{
    width: 100%;
    height: 100%;
    background-color: #F1F1F1;
    border-left: 1rem solid #A9A4A4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: x-large;
    gap:2rem;
}

.Machine .Lower{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    background-color: #D9D9D9;
    border-left: 1rem solid #757373;
    margin: 0;
}

.Lower .Screen{
    width: 95%;
    height: 95%;
    background-color: #000000;
    border-top: 0.5rem solid #A7A6A6;
    border-left: 0.5rem solid #A7A6A6;
    border-top-left-radius: 4rem;
}

